@media screen and (max-width: 1200px) {
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        margin-left: 3vh;
    }
    
    .button {
        width: calc(15vh - 15px); /* Largeur égale à la hauteur pour faire un bouton carré */
        height: calc(15vh - 15px); /* Hauteur égale à la largeur pour faire un bouton carré */
        background-color: #1a237e; /* Légèrement plus clair que le fond */
        border: 10px solid #3949ab; /* Bordure */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        margin: 10px; /* Espacement entre les boutons */
        font-size: 8vh;

        position: relative;
        overflow: hidden;    
    }

    .timer {
        width: calc(15vw - 15px); /* Largeur égale à la hauteur pour faire un bouton carré */
        height: calc(15vw - 15px); /* Hauteur égale à la largeur pour faire un bouton carré */
        background-color: #1a237e; /* Légèrement plus clair que le fond */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin: 10px; /* Espacement entre les boutons */
        font-size: 10vw;
        font-family: 'cursive';
    }
}

@media screen and (min-width: 1200px) {
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 10vw;
    }
    
    .button {
        width: calc(15vw - 15px); /* Largeur égale à la hauteur pour faire un bouton carré */
        height: calc(15vw - 15px); /* Hauteur égale à la largeur pour faire un bouton carré */
        background-color: #1a237e; /* Légèrement plus clair que le fond */
        border: 10px solid #3949ab; /* Bordure */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        margin: 10px; /* Espacement entre les boutons */
        font-size: 8vw;

        position: relative;
        overflow: hidden;    
    }

    .timer {
        width: calc(15vw - 15px); /* Largeur égale à la hauteur pour faire un bouton carré */
        height: calc(15vw - 15px); /* Hauteur égale à la largeur pour faire un bouton carré */
        background-color: #1a237e; /* Légèrement plus clair que le fond */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin: 10px; /* Espacement entre les boutons */
        font-size: 10vw;
        font-family: 'cursive';
    }
}

.button:hover {
    background-color: #3949ab;
}

.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3949ab; /* Couleur de la barre de chargement */
    animation: loading 5.1s linear forwards; /* Animation de la barre de chargement */
    z-index: -1; /* Assurez-vous que la barre de chargement est en arrière-plan */
}


.anim {
    animation: anim 0.8s;
  }
  
@keyframes anim {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loading {
    0% {
        height: 0; /* Commencez avec une hauteur de 0 */
    }
    100% {
        height: 100%; /* Montez jusqu'à 100% de la hauteur */
    }
}
